.content-head {
  margin: 10px 10px;
  padding: 10px 14px;
}

.content-cart {
  display: flex;
  flex-direction: column;
}

.cart-head {
  font-weight: bolder;
}

.seller-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seller-info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seller-info > div > div, .seller-info > div > input {
  margin: 18px 8px 0 8px;
}

.seller-username {
  font-weight: bold;
  font-size: 18px;
}

.img-product {
  width: 7rem;
  height: 7rem;
  padding: 0.313rem;
  margin-left: 8px;
}

.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 20px 0;
  padding: 28px 44px;
  min-height: 200px;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cart {
  width: fit-content;
  display: flex;
  align-content: center;
}

.product:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.36);
  transition: 0.25s all cubic-bezier(0.25,0.8,0.25,1);
}

.price-info:hover {
  background-color: #71bdffe3;
  border-radius: 20px;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.product-info > div {
  margin: 0 18px;
}

.product-name {
  font-weight: bolder;
  font-size: 18px;
}

.product-model {
  font-size: 12px;
}

.quantity {
  width: 20%;
  text-align: center;
  text-decoration: none;
}

.current-price {
  text-align: center;
  border: 1px solid #ebebeb;
  width: 75%;
}

#button {
  width: 15%;
  color: #0275d8;
  border-radius: 10px;
  text-align: center;
}

.info-container {
  text-align: center;
  border: 1px solid #ebebeb;
  min-width: 164px;
  margin: 8px 0;
  padding: 4px 14px;
}

.info-container > div {
  padding: 4px 0;
}

#negotiate {
  width: 40%;
  text-align: center;
}

.case {
  text-align: center;
  margin-top: 0.625px;
  background-color: white;
  border-radius: 25px;
  width: 40%;
}

.case-tq {
  text-decoration: none;
  color: #7caa2d;
}

.case-close {
  text-decoration: none;
  color: red;
}

.case-discuss {
  text-decoration: none;
  color: #0275d8;
}

.negotiate-btn {
  border-radius: 20px;
  padding: 8px 14px;
  margin: 6px 0;
  background-color: #0275d8;
}

.negotiate-acc {
  background-color: #7caa2d;
  border-radius: 20px;
  color: white;
}

.price-green {
  color: chartreuse;
}

.negotiate-declined {
  background-color: red;
  border-radius: 20px;
}

.negotiate-declined > div {
  color: white;
}

.negotiate-act {
  border: 1px solid #0275d8;
}
.negotiate-act:hover {
  background-color: white;
  border: 1px solid #0275d8;
  
}
.negotiate-act:hover > a {
  color: #0275d8;
  
}

.negotiate-act > a {
  text-decoration: none;
  color: white;
}

.negotiate > span {
  background-color: #0275d8;
  border-radius: 1.25rem;
  padding: 0 0.625rem;
  color: white;
}

.confirm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0.625rem 0;
}

.confirm-bestPrice {
  background-color: #7caa2d;
  border-radius: 20px;
  width: 5rem;
  text-align: center;
  color: white;
}

.confirm-original {
  background-color: #0275d8;
  border-radius: 20px;
  width: 40%;
  text-align: center;
  color: white;
}

.pre-order {
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.product-price > span {
  font-weight: bold;
  color: #0275d8;
}

.courier-main {
  display: flex;
  flex-direction: column;
}

.nego-info {
  text-align: center;
}

.action-nego {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  margin-top: 8px;
  border-radius: 8px;
}

.respond-nego {
  margin-top: 14px;
  width: 15rem;
}

.promo-code {
  margin-bottom: 0.625rem;
}

.promo-code > div > input {
  margin-top: 0.625rem;
}

.act {
  margin-top: 12px;
  border: 1px solid lightgray;
  padding: 6px 14px;
  border-radius: 14px;
}

.act:hover {
  border: 1px solid #0275d8;
}

.link-act {
  text-decoration: none;
  color: black;
  margin-left: 1.25rem;
}

.action > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action > div:hover > i, .action > div:hover > a{
  color: #0275d8;
}

.head-price {
  font-weight: bold;
  text-align: center;
  margin: 0.625rem;
}

.price-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.price-list {
  width: 50rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.25rem 0;
}

.confirm-seller > a {
  text-decoration: none;
  color: black;
}

.confirm-seller:hover > a, .confirm-seller:hover > i {
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
  color: #0275d8;
}

@media screen and (max-width: 768px) {
  .nego-info {
    display: none;
  }
  .price-list {
    width: 35rem;
  }
  .product > div {
    margin: 0;
  }
  .product-info > div {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: fit-content;
  }

  .product {
    width: fit-content;
  }

  .left-info {
    width: fit-content;
  }

  .img-product {
    width: 10rem;
    height: 10rem;
    border-radius: 25%;
  }

  .product-name {
    font-weight: bold;
    font-size: 15px;
    width: fit-content;
  }

  .price-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
  }

  .price-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
  }

  .product:hover {
    background-color: #71bdffe3;
    width: fit-content;
    border-radius: 20px;
  }

  .price-info:hover {
    background-color: #71bdffe3;
    width: max-content;
    border-radius: 20px;
  }

  .confirm-seller {
    margin: 10px 0 20px auto;
  }

  .head-price {
    font-weight: bold;
    text-align: center;
    width: 25rem;
    margin: 10px;
  }

  .price-org {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
  }

  .nego-price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .confirm-original {
    margin-left: 20px;
  }

  .confirm-nego {
    margin-left: 20px;
  }

  .promo-code {
    margin: 0;
  }
}
