.content-head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 20px;
}

.cart-head{
    font-weight: bolder;
    font-size: 23px;
}

/* .cart-all{
    width: 50%;
} */

.seller-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.seller-info > div {
    margin: 20px;
}

.seller-info > input{
    margin: 10px;
}

.seller-username{
    font-weight: bold;
    font-size: 18px;
}

.img-product{
    width: 7rem;
    height: 7rem;
    padding: 5px;
    border-radius: 25%;
}

.product{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-info{
    width: 300px;
}

#cart{
    margin: 10px;
    display: flex;
    align-content: center;
}

.product:hover{
    background-color: #71bdffe3;
    /* width:max-content; */
    border-radius: 20px;
}

.price-info:hover{
    background-color: #71bdffe3;
    /* width: max-content; */
    border-radius: 20px;
}

.product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-info > div{
    margin: 20px;
}

/* .product-img{
    border: 1px black solid;
} */

.product > div{
    margin: 20px;
}

.product-name{
    font-weight: bolder;
    font-size: 18px;
}

.product-model{
    font-size: 12px;
}

.quantity-main{
    text-align: center;
    border: 1px solid #ebebeb;
    width: 145px;
    /* margin: 10px 0; */
}

.current-price{
    text-align: center;
    border: 1px solid #ebebeb;
    width: 145px;
}

#quantity{
    width: 60px;
    text-align: center;
}

.product-qty > span{
    background-color: #0275d8;
    border-radius: 20px;
    padding: 0px 10px;
    color: white;
}

.nego{
    text-align: center;
    border: 1px solid #ebebeb;
    width: 145px;
    margin: 10px 0;
}

#negotiate{
    width: 60px;
    text-align: center;
}

.case{
    text-align: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 25px;
    width: 125px;
}

.case-tq{
    text-decoration: none;
    color: #7caa2d;
}

.case-close{
    text-decoration: none;
    color: red;
}

.case-discuss{
    text-decoration: none;
    color: #0275d8;
}

.negotiate-acc{
    background-color:#7caa2d;
    border-radius: 20px;
    color: white;
}

.price-green{
    font-weight: bold;
    background-color: white;
    border-radius: 20px;
    color:chartreuse;
}

.negotiate-declined{
    background-color:red;
    border-radius: 20px;
}

.negotiate-declined>div{
    color: white;
}

.negotiate-act:hover{
    background-color: #0275d8;
    border-radius: 20px;
}

.negotiate-act>a{
    text-decoration: none;
    color: white;
}

.negotiate > span{
    background-color: #0275d8;
    border-radius: 20px;
    padding: 0px 10px;
    color: white;
}

.confirm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin : 10px 0;
}

.confirm-bestPrice{
    background-color: #7caa2d;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    color: white;
}

.confirm-original{
    background-color: #0275d8;
    border-radius: 20px;
    width: 80px;
    text-align: center;
    color: white;
}

.pre-order{
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
}

.product-price > span{
    font-weight: bold;
    color: #0275d8;
}

.courier-main{
    display: flex;
    flex-direction: column;
}

.nego-info{
    text-align: center;
}

.action-nego{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.respond-nego{
    margin-top: 10px;
    width: 300px;
}

.promo-code{
    margin-bottom: 10px;
}

.promo-code > div >input{
    margin-top: 10px
}

.action{
    text-align: center;
    color: white;
}

.trash{
    width: 1rem;
    height: 1rem;
}

.trash:hover{
    background-image: url('/assets/cart/trash.png');
    background-size: cover;
    width: 1rem;
    height: 1rem;
}

.trash > a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.act{
    margin-top: 10px;
}

.link-act{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.link-act:hover{
    color: red;
}

.act > div{
    text-align: left;
}

.head-price{
    font-weight: bold;
    text-align: center;
    width: 800px;
    margin: 10px;
}

.price-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.price-list{
    width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}

.confirm-seller > a{
    text-decoration: none;
    color: white;
    width: 200px;
}

.confirm-seller > a:hover{
    background-color: white;
    border-radius: 25px;
    color: #0275d8;
}

@media (max-width:480px){
    body{
        width:fit-content;
    }

    .product{
        width: min-content;
    }

    .left-info{
        width: fit-content;
    }

    .img-product{
        width: 10rem;
        height: 10rem;
        border-radius: 25%;
        padding: 0px;
    }

    .product-name{
        font-weight: bold;
        font-size: 15px;
        width: fit-content;
    }

    .product-info > div {
        margin: 5px;
    }

    .product-info{
        display: flex;
        flex-direction: column;
    }

    .nego{
        position: absolute;
        transform: scaleY(0);
    }

    .right-info{
        position: absolute;
        transform: scaleY(0);
    }

    .price-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: max-content;
    }

    .price-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: max-content;
    }

    .product:hover{
        background-color: #71bdffe3;
        width:min-content;
        border-radius: 20px;
    }
    
    .price-info:hover{
        background-color: #71bdffe3;
        width:max-content;
        border-radius: 20px;
    }

    .confirm-seller{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .confirm-seller > a{
        text-decoration: none;
        color: white;
    }
    
    .confirm-seller > a:hover{
        background-color: white;
        border-radius: 25px;
        color: #0275d8;
    }

    .head-price{
        font-weight: bold;
        text-align: center;
        width: 400px;
        margin: 10px;
    }

    .price-org{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
    }

    .nego-price{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .confirm-original{
        margin-left: 20px;
    }

    .confirm-nego{
        margin-left: 20px;
    }
    
    .promo-code{
        margin: 0;
    }
}
