.content-header {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.search-username {
  width: 55%;
  margin-right: 0;
}

.content-body {
  display: flex;
  flex-direction: row;
}

.global-chat {
  width: 50%;
}

.chat-active {
  width: 45%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.list-chat {
  padding: 14px 22px;
}

.list-chat:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.36);
  transition: 0.25s all cubic-bezier(0.25,0.8,0.25,1);
}

.last-chatted {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.last-chat-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  padding: 8px 6px 8px 10px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.last-seen {
  font-style: italic;
  color: lightgray;
}

.user-img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin-right: 25px;
}

.category {
  border: 1px solid #0275d8;
  padding: 4px 10px;
  border-radius: 10px;
  color: #0275d8;
}

.active {
  padding-top: 8px;
}

.chat-customer {
  text-align: right;
}

.time {
  color: darkgray;
  font-style: italic;
}

.message-system {
  font-style: italic;
}

.chat-active-header {
  width: 100%;
  margin-top: 18px;
  padding-bottom: 14px;
  border-bottom: 1px solid lightgray;
}

.chat-active-content {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}

.profile-chat-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profile-name {
  display: flex;
  flex-direction: column;
}

.category {
  width: fit-content;
}

.history-chat {
  margin: 28px 0;
  width: 90%;
  align-self: center;
}

.history-chat > div {
  margin: 18px 0;
}

.chat-box {
  width: 90%;
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .content-header{
    flex-direction: column;
    justify-content: space-between;
  }
  .chat-head, .search-username {
    margin: 6px 0;
    width: 100%;
  }
  .global-chat {
    width: auto;
    height: auto;
  }
}
