.content-header {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.search-username {
  width: 55%;
  margin-right: 0;
}

.content-body {
  display: flex;
  flex-direction: row;
}

.global-chat {
  width: 50%;
}

.list_chat {
  padding: 14px 22px;
}

.list_chat:hover {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.36);
  transition: 0.25s all cubic-bezier(0.25,0.8,0.25,1);
}

.last-chatted {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.last-chat-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  padding: 8px 6px 8px 10px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

.last-seen {
  font-style: italic;
  color: lightgray;
}

.user-img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin-right: 25px;
}

.active {
  width: 6.25rem;
  text-align: center;
}

.online {
  font-weight: bold;
  color: #0275d8;
}

.profile_name {
  text-align: left;
  font-weight: bolder;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.chat_customer {
  text-align: right;
}

.read {
  color: #0275d8;
  font-weight: bold;
}

.message_system {
  font-style: italic;
}

.chat_customer {
  margin: 1.25rem;
}

.chat-active {
  margin-left: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chat-active-header {
  width: 100%;
  margin-top: 18px;
  padding-bottom: 14px;
  border-bottom: 1px solid lightgray;
}

.chat-active-content {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}

.profile-chat-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.main-chat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.position {
  color: white;
  font-weight: bold;
  text-align: center;
}

.border-seller {
  background-color: #0275d8;
  border-radius: 50px;
  width: 6.5rem;
}

.history-chat {
  margin: 28px 0;
  width: 90%;
  align-self: center;
}

.reply_user {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.chat-box {
  width: 90%;
  align-self: center;
}

textarea {
  height: 45px;
  width: 440px;
}

@media screen and (max-width: 1000px) {
  .content-header{
    flex-direction: column;
    justify-content: space-between;
  }
  .chat-head, .search-username {
    margin: 6px 0;
    width: 100%;
  }
  .global-chat {
    width: auto;
    height: auto;
  }
  .chat {
    display: none;
  }
  .last-seen {
    display: none;
  }
  .chat-active {
    width: 32rem;
  }
}
