.content {
    margin: 24px 0;
}

.content-header {
    font-family: Assistant;
    text-align: center;
    font-size: 3em;
}

.content-subheader {
    margin-top: 5px;
    font-family: Assistant;
    text-align: center;
    font-size: 1.05em;
}

.mystyle-products {
  list-style: none;
  margin: 4em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.best-selling {
    z-index: 10;
    padding: 10px 18px;
    background-color: rgb(255, 255, 30);
    position: absolute;
    left: 0;
    top: 18px;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: 2px 3px 8px #ddd;
    color: #333;
}

.product {
    border-radius: 0.5em;
    width: auto;
    margin-bottom: 0;
}

.product {
    width: 25%;
    margin: 0 24px 20px 24px;
    position: relative;
    padding: 3.5em 0 0 0;
    background: #fff;
    box-shadow: 1px 1px 8px darkgray;
}

.text {
    font-size: 14px;
}

del {
    color: #666;
    font-size: 11px;
    padding-right: 7px;
    white-space: nowrap;
}

ins {
    text-decoration: none;
    font-weight: 700;
    white-space: nowrap;
}

.attachment-shop_catalog {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

.product > a {
    position: relative;
    display: block;
    color: #333;
    text-decoration: none;
    padding: 20px;
}

.product > a:hover {
    text-decoration: none;
}

.product:hover {
    box-shadow: 1px 1px 20px darkgray;
    z-index: 7;
}

@media screen and (max-width: 600px) {
    .mystyle-products {
        display: block;
    }
    .product {
        width: auto;
    }
}