.content {
    margin-top: 2rem;
    padding: 0 10% 10% 10%;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.slider-caret {
    cursor: pointer;
}

.slider-caret i {
    font-size: 4rem;
    color: darkgray;
}

.content-text {
    font-family: 'Assistant';
    color: white;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 4.5em;
    font-weight: 600;
}

h4 {
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 60px;
}

.content-link {
    text-decoration: none;
    color: white;
    background-color: #0275d8;
    padding: 10px 24px;
}

.slider{
    position:relative;
    width:100%;
    overflow:hidden;
}

.slider ul{
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    display:inline-block;
    list-style:none;
}


.slider ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width:900px;
    height:350px;
}

.slide-item {
    max-height: 350px;
    max-width: 900px;
    display: flex;
}

.slide-col{
    padding: 0 2.5rem;
    height: 350px;
    width: fit-content;
    display: flex;
    flex-direction: column;

}

.slide-col img {
    height: 300px;
}