.slider-container {
    padding: 1.75% 0;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.slider-caret {
    cursor: pointer;
}

.slider-caret i {
    font-size: 4rem;
    color: darkgray;
}

.content-text {
    font-family: 'Assistant';
    color: white;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 4.5em;
    font-weight: 600;
}

h4 {
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 60px;
}

.content-link {
    text-decoration: none;
    color: white;
    background-color: #0275d8;
    padding: 10px 24px;
}

.slider{
    position:relative;
    width:100%;
    overflow:hidden;
}

.slider ul{
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    display:inline-block;
    list-style:none;
}


.slider ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width:900px;
    height:350px;
}

.btn-blue {
    color: #fff;
    background-color: #0275d8;
    border: 1px solid #0275d8;
    font-size: 1.48rem;
    width: fit-content;
    padding: 14px 18px;
    border-radius: 14px;
    text-decoration: none;
}

.btn-blue:hover {
    border: 1px solid #0275d8;
    background-color: white;
    color: #0275d8;
}

.slide-item {
    max-height: 350px;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.slide-col{
    height: 350px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;

}

.slide-col img {
    height: 300px;
}

.slide-title {
    font-size: 2.5rem;
    margin-top: 8px;
}

.slide-subtitle {
    margin: 8px 0;
}

.slide-tag {
    font-size: 1.75rem;
}

.card-container {
    margin: 18px auto;
    max-width: 1050px;
    min-height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    /* flex-wrap: wrap;
    justify-content: space-between; */
}

.card-grid {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-width: 500px;
    height: 150px;
    max-height: 150px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-grid:hover {
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.36);
    transition: 0.25s all cubic-bezier(0.25,0.8,0.25,1);
}

.shoes {
    background: linear-gradient(0deg, rgba(60, 60, 60, 0.45), rgba(60, 60, 60, 0.45)), url('../assets/categories/shoes.jpg') no-repeat center center;
    background-size: contain;
}

.pants {
    background: linear-gradient(0deg, rgba(60, 60, 60, 0.45), rgba(60, 60, 60, 0.45)), url('../assets/categories/pants.jpg') no-repeat center center;
    background-size: contain;
}

.clothes {
    background: linear-gradient(0deg, rgba(60, 60, 60, 0.45), rgba(60, 60, 60, 0.45)), url('../assets/categories/clothes.jpg') no-repeat center center;
    background-size: contain;
}

.others {
    background: linear-gradient(0deg, rgba(60, 60, 60, 0.45), rgba(60, 60, 60, 0.45)), url('../assets/categories/others.jpg') no-repeat center center;
    background-size: contain;
}

.strike {
    font-size: 2.25rem;
    text-decoration: line-through;
}

@media screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }

    .slide-item {
        display: flex;
        flex-direction: row;
    }

    .slide-col img {
        margin: auto 0;
        padding: 0 18px;
        height: 150px;
    }
}