.content {
    margin-top: 2rem;
    margin: 2.5% 10% 10% 10%;
}

.slider-container {
    padding: 1.75% 0;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.slider-caret {
    cursor: pointer;
}

.slider-caret i {
    font-size: 4rem;
    color: darkgray;
}

.content-text {
    font-family: 'Assistant';
    color: white;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 4.5em;
    font-weight: 600;
}

h4 {
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 60px;
}

.content-link {
    text-decoration: none;
    color: white;
    background-color: #0275d8;
    padding: 10px 24px;
}

.slider{
    position:relative;
    width:100%;
    overflow:hidden;
}

.slider ul{
    position:relative;
    width:100%;
    margin:0;
    padding:0;
    display:inline-block;
    list-style:none;
}


.slider ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width:900px;
    height:350px;
}

.btn-red {
    color: #fff;
    background-color: #cd1f25;
    font-size: 1.48rem;
    width: fit-content;
    padding: 14px 18px;
    border-radius: 14px;
    text-decoration: none;
}

.slide-item {
    max-height: 350px;
    max-width: 900px;
    display: flex;
}

.slide-col{
    padding: 0 2.5rem;
    height: 350px;
    width: fit-content;
    display: flex;
    flex-direction: column;

}

.slide-col img {
    height: 300px;
}

.slide-title {
    font-size: 2.5rem;
    margin-top: 8px;
}

.slide-subtitle {
    margin: 8px 0;
}

.slide-tag {
    font-size: 1.75rem;
}

.strike {
    font-size: 2.25rem;
    text-decoration: line-through;
}

.red { 
    color: #cd1f25;
}

.heavy {
    font-weight: bolder;
}

.huge {
    font-size: 3.33rem;
}