.content {
    margin: 24px 0;
}

.content-header {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-family: Assistant;
    text-align: center;
    font-size: 3em;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0.5em 2.5em;
    justify-content: center;
}

.form__div {
    justify-content: center;
    min-width: 400px;
    position: relative;
    padding: 2em 2em 0.8em 2em;
    display: flex;
}

input {
    width: 100%;
    background: transparent;
    color: black;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid black;
    padding: 0.7em;
}

.form__label {
    position: absolute;
    left: 2em;
    top: 3em;
    transition: all 300ms ease;
}
  
input:focus ~ .form__label,
input:valid ~ .form__label {
    font-size: 14px;
    color: #0275d8;
    top: 1.5em;
}
  
input:focus {
    outline: none;
}
  
.submit {
    max-width: 200px;
    font-size: 18px;
    padding: 0.7em;
    width: 100%;
    color: white;
    border: 1px solid darkgray;
    background-color: #0275d8;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background: white;
    color: #0275d8;
    transition: all 0.2s ease;
}

p {
    margin: 0;
    padding: 0;
}

.register-link {
    color: #0275d8;
}

.register-link:hover {
    color: darkgray;
}