.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.profile-pic {
  margin: 1.25rem;
}

#image {
  display: none;
}

.user-img:hover {
  opacity: 0.5;
}

.choose {
  text-align: center;
  margin: 1.25rem;
}

.note {
  text-align: justify;
}

.border-img {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 1.25rem;
}

.border-img > img {
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
}

/* .level-user{
    font-weight: bold;
    color: #0275d8;;
} */

.head-content {
  margin: 1.25rem;
  font-weight: bold;
  font-size: 30px;
}

.info > div {
  display: flex;
  flex-direction: row;
  margin: 1.25rem;
}

.info {
  display: flex;
  flex-direction: row;
}

.info-head {
  width: 7.5rem;
}

.value > input {
  width: 8rem;
}

.value > select {
  text-align: center;
  width: 8rem;
}

.value-email {
  width: 10.5rem;
}

#show {
  padding: 0rem 2rem;
}

#hide {
  display: none;
  padding: 0rem 2rem;
}

.change {
  margin-left: 0.625rem;
}

.button-change {
  width: 4rem;
}

.button-change > a {
  padding: 0.45rem;
  text-align: center;
  color: #0275d8;
}

.button-change:hover > a {
  background-color: #0275d8;
  border-radius: 15px;
  color: white;
}

.option-gender {
  position: absolute;
  transform: scaleY(0);
  transition: transform 500ms;
  transform-origin: left;
}

.list-gender {
  display: flex;
  flex-direction: row;
}

.verify-number {
  color: #0275d8;
}

.verify:hover > a {
  background-color: #7caa2d;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.change-gender:hover .option-gender {
  padding-top: 1rem;
  transform: scaleY(1);
}

.verify > div {
  font-weight: bold;
  color: white;
  border-radius: 0.938rem;
  padding: 0rem 0.625rem;
  background-color: #0275d8;
}

.contact {
  height: 23.6rem;
}

.option-email {
  display: none;
}

.option-email-normal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .info > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1.25rem;
  }
  .option-email-normal {
    display: none;
  }
  .option-email {
    display: flex;
  }
  #show {
    padding-left: 0rem;
  }
  #hide {
    padding-left: 0rem;
  }
  .value {
    display: block;
  }
  .info-head {
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .info > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1.25rem;
  }
  .option-email-normal {
    display: none;
  }
  .option-email {
    display: flex;
  }
  #show {
    padding-left: 0rem;
  }
  #hide {
    padding-left: 0rem;
  }
  .value {
    display: block;
  }
  .info-head {
    font-weight: bold;
  }
}
