.main-content{
    display: flex;
    flex-direction: row;
}

.profile-pic{
    margin: 20px;
}

.choose{
    text-align: center;
    margin: 20px;
}

.note{
    text-align: justify;
}

.border-img{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 20px;
}

.border-img > img{
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
}

/* .level-user{
    font-weight: bold;
    color: #0275d8;;
} */

.head-content{
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
}

.info>div{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.info{
    display: flex;
    flex-direction: row;
}

.info-head{
    width: 120px;
}

.value > input{
    width: 200px;
}

.value-email{
    width: 200px;
}

.change{
    margin-left: 10px;
}

.option-gender{
    position: absolute;
    transform: scaleY(0);
    transition: transform 500ms;
    transform-origin:left;
}

/* .verify{
    margin-left: 20px;
} */

.change-gender:hover .option-gender{
    transform: scaleY(1);
}

.verify > div {
    font-weight: bold;
    color: white;
    border-radius: 15px;
    padding: 0px 10px;
    background-color: #0275d8;
}

@media (max-width:480px){
    .main-content{
        display: flex;
        flex-direction: column;
    }

    .info>div{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .info-head{
        font-weight: bold;
    }
}